html, body {
    padding:0;
    margin:0;
    background-color: #2a2a2a;
    font-size: 1rem;
    font-family: Arial, 'sans-serif';
    overflow-x: hidden;
}
h1 {
    color: #fff;
    margin: 4vmin auto;
    text-align: center;
}
.codeBlock {
    background: linear-gradient(0deg, rgb(24 23 44) 0%, rgb(42 42 42) 95%);
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    padding: 4vmin 0;
}
.hljs {
    background:none !important;
}
.grid-layout::after {
    content: '\2190 click and drag \2192';
    position: absolute;
    bottom: 0;
    font-size: 5vmin;
    color: #fff;
    background: rgb(0 0 0 / 70%);
    border-radius: 6vmin;
    padding: 2vmin 4vmin;
    margin-left: 50%;
    transform-style: preserve-3d;
    transform-origin: center;
    font-family: Arial, 'sans-serif';
    pointer-events: none;
    transform: translateY(10vmin) translateX(-50%) translateZ(12vmin);
    opacity: 0.65;
}
.explanationTable {
    margin:0 auto;
    background:black;
    color:#fff;
    font-family: Arial, 'sans-serif';
    font-size: 0.85rem;
    border: none;
    border-collapse: collapse;
}
.explanationTable tr {

}
.explanationTable tr:nth-child(even) {
    background: #2a2a2a;
}
.explanationTable tr:nth-child(odd) {
    background: #1a192c;
}
.explanationTable th {
    padding:10px;
}
.explanationTable td {
    padding: 10px;
}
.explanationTable .option {
    font-weight: bold;
}
.explanationTable .noPad {
    padding:0;
}
@media(max-width: 720px) {
    .tableContainer {
        width:100%;
        overflow-x: scroll;
    }
    .canvasContainer {
        margin-top: 6vmax;
    }
}
.canvasContainer {
    width: 100%;
    height: 100vh;
}
.canvasContainer.right {
    margin-left: auto;
}
.canvasContainer .cube {
    position: relative;
    width: var(--w);
    height: var(--h);
    transform-style: preserve-3d;
    box-shadow:-1vw 1vw 1vw rgb(0 0 0 / 75%);
    cursor: pointer;
    margin: var(--m);
}
.canvasContainer .face {
    background-position: center;
    width: var(--w);
    height: var(--h);
    --mid: calc(var(--w)/2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transition: transform 500ms;
    filter:saturate(60%);
}
.artLink {
    transform-style: preserve-3d;
    display:block;
}
.canvasContainer .front {
    transform: translateZ(var(--d));
}
.canvasContainer .front.canvasTexture::after,
.canvasContainer .left.canvasTexture::after,
.canvasContainer .right.canvasTexture::after,
.canvasContainer .top.canvasTexture::after,
.canvasContainer .bottom.canvasTexture::after {
    content: " ";
    mix-blend-mode: multiply;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .7;
}
.canvasContainer .cube:hover .front {
    filter:saturate(100%);
}
.canvasContainer .back {
    transform: translateZ(0) rotateY(180deg);
    background: #4a4a4a;
}
.canvasContainer .left {
    width: var(--d);
    transform: translateX(calc(var(--d)/2*-1)) translateZ(calc(var(--d)/2)) rotateY(-90deg);
    background-position:calc(50% + (var(--d)/2 + var(--w)/2)) center;
    filter: brightness(0.4) saturate(60%);
}
.canvasContainer .cube:hover .left {
    filter:brightness(0.4) saturate(100%);
}
.canvasContainer .right {
    width: var(--d);
    transform: translateX(calc(var(--w) - var(--d)/2)) translateZ(calc(var(--d)/2)) rotateY(90deg);
    background-position:calc(50% - (var(--d)/2 + var(--w)/2)) center;
    filter: brightness(0.4) saturate(60%);
}
.canvasContainer .cube:hover .right {
    filter:brightness(0.4) saturate(100%);
}
.canvasContainer .top {
    height: var(--d);
    transform: translateY(calc(var(--d)/2*-1)) translateZ(calc(var(--d)/2)) rotateX(90deg);
    background-position:center calc(50% + (var(--d)/2 + var(--h)/2));
}
.canvasContainer .cube:hover .top {
    filter:saturate(100%);
}
.canvasContainer .bottom {
    height: var(--d);
    transform: translateY(calc(var(--h) - var(--d)/2)) translateZ(calc(var(--d)/2)) rotateX(-90deg);
    filter: brightness(0.2) saturate(60%);
    background-position:center calc(50% - (var(--d)/2 + var(--h)/2));
}
.canvasContainer .cube:hover .bottom {
    filter:brightness(0.2) saturate(100%);
}
.grid-layout {
    width: min-content;
    display: grid;
    grid-auto-flow: dense;
    transform-style: preserve-3d;
    transform-origin: center;
}
.canvasContainer.right .grid-layout {
    margin-left: auto;
}
@media (max-width: 720px) {
    .grid-layout {
        transform: rotate3d(0, 1, 0, 27deg) translateX(24vw) translateZ(-77vw) translateY(-8vw);
    }
    .canvasContainer.right .grid-layout {
        transform: rotate3d(0, 1, 0, -27deg) translateX(-70vw) translateZ(-37vw) translateY(-8vw);
    }
}
.grid-layout .right {
    /*display: none;*/
}
.canvasContainer.right .left {
    /*display: none;*/
}
.canvasContainer.right .right {
    display: block;
}
.canvasContainer.right .grid-layout .cube {
    box-shadow: 1vw 1vw 1.5vw rgb(0 0 0 / 75%);
}
.canvasContainer .cube:hover, .canvasContainer.right .cube:hover {
    box-shadow:0 0 12vmin #5fc6fd;
}
.grid-item {
    transform-style: preserve-3d;
}
.span-2-col {
    grid-column-end: span 2;
}
.span-2-row {
    grid-row-end: span 2;
}
.span-3-col {
    grid-column-end: span 3;
}
.span-3-row {
    grid-row-end: span 3;
}
.span-4-col {
    grid-column-end: span 4;
}
.span-4-row {
    grid-row-end: span 4;
}
.span-5-col {
    grid-column-end: span 5;
}
.span-5-row {
    grid-row-end: span 5;
}