html, body {
    padding:0;
    margin:0;
    background-color: #2a2a2a;
    font-size: 1rem;
    font-family: Arial, 'sans-serif';
    overflow-x: hidden;
}
h1 {
    color: #fff;
    margin: 4vmin auto;
    text-align: center;
}
.codeBlock {
    background: linear-gradient(0deg, rgb(24 23 44) 0%, rgb(42 42 42) 95%);
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    padding: 4vmin 0;
}
.hljs {
    background:none !important;
}
.grid-layout::after {
    content: '\2190 click and drag \2192';
    position: absolute;
    bottom: 0;
    font-size: 5vmin;
    color: #fff;
    background: rgb(0 0 0 / 70%);
    border-radius: 6vmin;
    padding: 2vmin 4vmin;
    margin-left: 50%;
    transform-style: preserve-3d;
    transform-origin: center;
    font-family: Arial, 'sans-serif';
    pointer-events: none;
    transform: translateY(10vmin) translateX(-50%) translateZ(12vmin);
    opacity: 0.65;
}
.explanationTable {
    margin:0 auto;
    background:black;
    color:#fff;
    font-family: Arial, 'sans-serif';
    font-size: 0.85rem;
    border: none;
    border-collapse: collapse;
}
.explanationTable tr {

}
.explanationTable tr:nth-child(even) {
    background: #2a2a2a;
}
.explanationTable tr:nth-child(odd) {
    background: #1a192c;
}
.explanationTable th {
    padding:10px;
}
.explanationTable td {
    padding: 10px;
}
.explanationTable .option {
    font-weight: bold;
}
.explanationTable .noPad {
    padding:0;
}
@media(max-width: 720px) {
    .tableContainer {
        width:100%;
        overflow-x: scroll;
    }
    .canvasContainer {
        margin-top: 6vmax;
    }
}